.profileInfo {
  margin-left: 10px;
}

.userPhoto {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.descriptionBlock {
  color: rgb(5, 5, 80);
}

.profileInfoProperties {
  text-decoration: underline;
}
